
@charset "UTF-8";

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/
*{
    font: 1rem 'Lato', sans-serif;
}
/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* TYPOGRAPHY */

.bg-teal div{
    text-align: center;
}

/* Lists */

li {
    margin: 0 auto;
    list-style: none;
  
}
header li{
    padding-left: 0;
}

header nav li {
    display: block;
}


ul{
    margin-left: 0;
}




/* Media */

nav li img {
    width: 250px;
}



/*--------------------------------------------------------------
5.0 - OBJECTS 
-------------------------------------------------------------- */

.bg-gray {
    padding: 1em 0;
}

/*--------------------------------------------------------------
6.0 - COMPONENTS 
-------------------------------------------------------------- */

/*-- HEADER --*/

.bg-image{
    padding: 2rem;
}

.bg-image{
    padding: 2rem;
}
.title-bar{
    background-color: #358889;
}
.top-bar, .top-bar ul {
    background-color: #F1EFEF;
}
.top-bar a{
    color: #358889;
}


/* BUTTONS */

.button {
    border-radius: 1px;
    border-color: #f1efef;
    background-color: transparent;

} 

.button:hover {
    background-color: #f1efef;
    color: #358889;
}


/*-- NAVIGATION --*/

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: teal;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #CDCDCD;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #EDEDED;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}







footer div div{
    display: inline-block;
    
}

footer{
    background-color: #f1efef;
    padding: 1rem;
}


/*--------------------------------------------------------------
7.0 - UTILITIES 
-------------------------------------------------------------- */

/*-- COLOR --*/

.bg-gray {
    background-color: #f1efef;
}

.bg-teal {
    background-color: #358889;
}

/*-- ALIGNMENT --*/


