*{
    font: 1rem 'Lato', sans-serif;
}

li{
    list-style: none;
}

ul{
    margin-left: 0;
}
nav li{
    display: inline-block;
}

/* footer stylizing*/
footer div div{
    display: inline-block;
    
}

footer{
    background-color: #f1efef;
    padding: 1rem;
}

